<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- UI Component Data Provider -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="lowstocknotification_alert_listing_data_source" xsi:type="string">Panth\LowStockNotification\Model\ResourceModel\StockAlert\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Panth\LowStockNotification\Model\ResourceModel\StockAlert\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">panth_stock_alert</argument>
            <argument name="resourceModel" xsi:type="string">Panth\LowStockNotification\Model\ResourceModel\StockAlert</argument>
        </arguments>
    </virtualType>
</config>
